@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Here you will find good recipes and if you have the skills to make them!</p>
    <p>Navigate at the navigation bar at the top to see the recipes and their difficulty level.</p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
